x7actions/ConfigurationSectionDesigner1.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Andrique.Utils.X7Actions" elementFormDefault="qualified" targetNamespace="urn:Andrique.Utils.X7Actions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="configurationSection1" type="tns:Andrique.Utils.X7Actions.ConfigurationSection1CT" />
	<xs:complexType name="Andrique.Utils.X7Actions.ConfigurationSection1CT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="attributeProperty1" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The AttributeProperty1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Andrique.Utils.X7Actions.ConfigurationElement1CT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="attributeProperty1" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AttributeProperty1.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Andrique.Utils.X7Actions.ConfigurationElementCollection1CT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="configurationElement1" type="tns:Andrique.Utils.X7Actions.ConfigurationElement1CT">
				<xs:annotation>
					<xs:documentation>The ConfigurationElement1 Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
